/* Editor Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/* Titlebar Font */
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

/* Preview Font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
  /* background-color: #16cdff; */
  background-color: black;
  margin: 0;
  padding: 0;
}

#app {
  text-align: center;
  max-width: 100%;
  margin-top: 20px;
}
.text-editor {
  display: inline-block;
  height: 100%;
}
.title {
  font-family: 'Abel', sans-serif;
  background-color: black;
  padding: 5px;
  text-align: left;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.43);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.43);
  box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.43);
}
#editor-title, #editor {
  -webkit-box-shadow: 0px 3px 10px 0px cyan;
  -moz-box-shadow: 0px 3px 10px 0px cyan;
  box-shadow: 0px 3px 10px 0px cyan;
}
body::-webkit-scrollbar, textarea::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
  background: lime;        /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
  background-color: black;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid lime;  /* creates padding around scroll thumb */
}
#editor-title{
  color: cyan;
}
#editor {
  background-color: #000000;
  color: cyan;
  font-family: 'Roboto Mono', monospace;
  overflow: auto;
  box-sizing: border-box;
  vertical-align: top;
  padding-left: 4px;
  resize: none;
}
textarea::-webkit-scrollbar-track {
  background: cyan;
}
textarea::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 20px;
  border: 3px solid cyan;  
}
.medium {
  width: 600px;
}
.textMid {
  height: 200px;
  width: 100%;
}
.div-large {
  margin: 20px 0;
  height: auto;
  width: 90%;
}
#editor:focus, #editor:active, #editor:hover {
  outline: none;
}
#preview-title, #preview {
  -webkit-box-shadow: 0px 3px 10px 0px lime;
  -moz-box-shadow: 0px 3px 10px 0px lime;
  box-shadow: 0px 3px 10px 0px lime;
}
#preview-title{
  color: lime;
}
#preview {
  font-family: 'Quicksand', sans-serif;
  text-align: initial;
  color: #00ff00;
  background-color: black;
  height: auto;
  overflow: auto;
  padding-left: 4px;
  min-height: 400px;
  font-size: 18px;
  box-sizing: border-box;
  border: 1px solid lime;
}
img {
  max-width: 100%;
}
.btn-fullscreen {
  float: right;
  border: none;
  font-size: 20px;
  border-radius: 7px;
}
#editor-btn {
  background-color: black;
  color: cyan;
}
#editor-btn:hover, #editor-btn:focus {
  color: black;
  background-color: cyan;
}
#preview-btn {
  background-color: black;
  color: lime;
}
#preview-btn:hover, #preview-btn:focus {
  color: black;
  background-color: lime;
}
.fullscreen{
  width: 95%;
  height: 100vh;
}
.full-edit {
  height: 100vh;
  margin-bottom: 20px;
}
a{
  color: blue;
}
@media screen and (max-width: 760px) {   
  
  .small-screen {
    width: 60vw;
  }
 
}